@model IEnumerable<RealEstate.Rentals.Rental>

@{
    ViewBag.Title = "Rental Listings";
}

<h2>Rental Listings</h2>

<p>@Html.ActionLink("Post Rental", "Post")</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(x => x.Description)</th>
            <th>@Html.DisplayNameFor(x => x.NumberOfRooms)</th>
            <th>@Html.DisplayNameFor(x => x.Address)</th>
            <th>@Html.DisplayNameFor(x => x.Price)</th>
            <th>Last Adjustmen</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rental in Model)
        {
            <tr>
                <td>
                    @rental.Description
                </td>
                <td>
                    @rental.NumberOfRooms
                </td>
                <td>
                    @foreach (var address in rental.Address)
                    {
                        @: @address <br />
                    }
                </td>
                <td>
                    @rental.Price
                </td>
                <td>
                    @rental.Adjustments.Select(x => x.Describe()).LastOrDefault()
                </td>
                <td>@Html.ActionLink("Adjust Price", "AdjustPrice", new { id = rental.Id })</td>
                <td>@Html.ActionLink("Delete", "Delete", new { id = rental.Id })</td>
            </tr>
        }
    </tbody>
</table>